<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Books</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../account.css" />
    <style>
      * {
        color: black;
      }
      td {
        width: 20%;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <%- include('admin-header') %>

    <p class="page-heading">Update Book</p>
    <form
      action="/update-book/<%= book._id %>"
      method="post"
      enctype="multipart/form-data"
    >
      <table class="chng-pwd-table">
        <tr>
          <th style="font-size: 15px; color: white" colspan="10">Book Info</th>
        </tr>
        <tr>
          <td colspan="5">Book Name:</td>
          <td colspan="5">Category:</td>
        </tr>
        <tr>
          <td colspan="5">
            <input
              type="text"
              name="bookname"
              id="book-name"
              value="<%= book.bookname %>"
            />
          </td>
          <td colspan="5">
            <select
              name="bookcategory"
              id="category"
              value="<%= book.category %>"
              placeholder="Select Category"
              style="color: black"
            >
              <option value="Technology">Technology</option>
              <option value="Science">Science</option>
              <option value="Programming">Programming</option>
              <option value="Management">Management</option>
              <option value="General">General</option>
              <option value="Romantic">Romantic</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="5">Author:</td>
          <td colspan="5">ISBN Number:</td>
        </tr>
        <tr>
          <td colspan="5">
            <input
              type="text"
              name="author"
              id="author"
              value="<%= book.author %>"
            />
          </td>
          <td colspan="5">
            <input
              type="text"
              name="isbnnum"
              id="isbn-number"
              value="<%= book.isbnnum %>"
            />
          </td>
        </tr>
        <tr>
          <td colspan="5">Price*:</td>
          <td colspan="5">Book Picture*:</td>
        </tr>
        <tr>
          <td colspan="5">
            <input
              type="text"
              name="price"
              id="price"
              value="<%= book.price %>"
            />
          </td>
          <td colspan="5">
            <input
              type="file"
              name="bookpic"
              id="book-picture"
              style="border: 1px solid lightblue; padding: 3px"
            />
            <small>Leave blank if you don't want to change the image</small>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn">Submit</button>
          </td>
        </tr>
      </table>
    </form>
    <script src="script.js"></script>
  </body>
</html>
